<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>

  <body>
    <form action="/users/login" method="POST">
      <label for="email">Email</label>
      <br />
      <textarea
        style="width:100px ;height:10px"
        type="text"
        name="email"
        placeholder="email"
      ></textarea>
      <br />
      <label for="email">Password</label>
      <br />
      <textarea
        style="width:100px ;height:10px"
        type="text"
        name="password"
        placeholder="password"
      ></textarea>
      <br />
      <button type="submit">login</button>
    </form>
    <a href="/users/register"> Register</a>
  </body>
</html>
